<h1>Reactivos basico</h1>
<hr>

<div class="row">
  <div class="col">

	<form (ngSubmit)="guardar()" [formGroup]="miFormulario" autocomplete="off">
	  <!-- Producto -->
	  <div class="mb-3">
		<label for="producto">Producto:</label>
		<div>
		  <input
			class="form-control" 
			type="text" 
			id="producto"
   			formControlName="nombre"
			placeholder="Ingresa el nombre del producto">
		  <small
			*ngIf="campoInvalido('nombre')"
			class="text-danger">El producto debe tener al menos 3 caracteres</small>
		</div>
	  </div>

	  <!-- Precio -->
	  <div class="mb-3">
		<label for="precio">Precio:</label>
		<div>
		  <input
			class="form-control" 
			type="number" 
   			formControlName="precio"
			id="precio"
			placeholder="Ingresa el precio producto">
		  <small
			*ngIf="campoInvalido('precio')"
			class="text-danger">El precio debe ser mayor o igual a 0</small>
		</div>
	  </div>
	  
	  <!-- Existencias -->
	  <div class="mb-3">
		<label for="existencias">Existencias del producto:</label>
		<div>
		  <input
			class="form-control" 
   			formControlName="existencias"
			type="number" 
			id="existencias"
			placeholder="Existencias del producto">
		  
		  <small
			*ngIf="campoInvalido('existencias')"
			class="text-danger">El numero debe ser mayor o igual a 0</small>
		</div>
	  </div>
	  <div>
		<input 
			class="btn btn-primary float-end" 
			type="submit"
			value="Enviar">
	  </div>
	</form>
  </div>
