<h1 *ngIf="!heroe.id; else tituloElse">Nuevo heroe</h1>

<ng-template #tituloElse><h1>Editar {{heroe.superhero}}</h1></ng-template>
<div fxLayout="row" 
	fxLayoutGap="30px" 
	fxLayout.xs="column">
  
  <div fxFlex="50" fxLayout="column" fxLayoutGap="30px">

	<div fxLayout="row" fxLayoutGap="20px">
		<mat-form-field fxFlex="50">
			<mat-label>Nombre superheroe</mat-label>
			<input 	matInput 
					type="text"
	 				[(ngModel)]="heroe.superhero"
					required>
		</mat-form-field>

		<mat-form-field fxFlex="50">
			<mat-label>Alter ego</mat-label>
			<input 	matInput 
					type="text" 
					[(ngModel)]="heroe.alter_ego"
					required>
		</mat-form-field>
			
	</div>

	<mat-form-field>
		<mat-label>Primera aparicion</mat-label>
		<input 	matInput 
				type="text"
				[(ngModel)]="heroe.first_appearance"
				required>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Personajes</mat-label>
		<input 	matInput 
				type="text" 
				[(ngModel)]="heroe.characters"
				required>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Publisher</mat-label>
		<mat-select [(ngModel)]="heroe.publisher">
			<mat-option 
				*ngFor="let publisher of publishers" 
				value="{{publisher.id}}">
					{{publisher.descripcion}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Url imagen</mat-label>
		<input 	matInput 
				type="url" 
				[(ngModel)]="heroe.alt_img"
				required>
	</mat-form-field>
	<br>
	<div fxLayout="row" fxLayoutGap="20px">
		<button mat-raised-button 
				color="primary"
				(click)="guardar()">Guardar</button>

		<button mat-stroked-button 
				color="warn"
				*ngIf="heroe.id"
				(click)="eliminarHeroe()">Eliminar</button>
	</div>
  </div>

  <div fxFlex="50" fxLayoutAlign="center start">
	<img [src]="heroe | imagen">
  </div>

</div>
